---
const origin = Astro.url.origin;

type Props = {
  title: string;
  description?: string;
  slug?: string;
};
const { title: titleProps, description: descriptionProps, slug } = Astro.props;

const title = `${titleProps ? `${titleProps} | ` : ""}Code Lab Blog`;
const url = `${origin}${slug ? `/posts/${slug}` : ""}`;
const description =
  descriptionProps || "フロントエンジニア、@shota1995mの個人ブログ&実験サイト";
const ogpCardUrl = `${origin}/og/${slug}.png`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={url} />

<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

<link rel="manifest" href="/site.webmanifest" />

<!-- ogp -->
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{slug && <meta property="og:image" content={ogpCardUrl} />}
<meta property="og:type" content="article" />
<meta property="og:site_name" content="code-lab" />

<meta name="twitter:card" content="summary_large_image" />

<!-- hatena -->
<link rel="author" href="http://www.hatena.ne.jp/nano72mkn/" />
