---
import '@fontsource/noto-sans-jp';
import { SITE_TITLE } from "@consts";

const pathname = new URL(Astro.request.url).pathname;

const baseClass = "block w-[6em] py-2 transition hover:text-gray-400 z-1 text-center";
const activeClass = "font-bold";
const inactiveClass = "hover:underline";

const currentPage = () => {
  if (pathname === "/") {
    return "home";
  }
  
  if (/^\/blog/.test(pathname)) {
    return "blog";
  }
}

const navigationItems = [
  {
    isActive: currentPage() === "home",
    href: "/",
    label: "Home",
  },
  {
    isActive: currentPage() === "blog",
    href: "/blog",
    label: "Blog",
  },
];

let cursorClass = `absolute block top-0 z-[-1] w-[50%] h-full bg-[#ddd] py-2 rounded-lg`;
const currentNavIndex = navigationItems.findIndex((item) => item.isActive);

switch (currentPage()) {
  case "home":
    cursorClass = `${cursorClass} left-0`;
    break;
  case "blog":
    cursorClass = `${cursorClass} left-[6em]`;
    break;
  default:
    break;
}
---

<header class="flex items-center justify-between py-5 md:py-10">
  <a href="/">
    <h1 class="font-black text-2xl md:text-4xl">{SITE_TITLE}</h1>
  </a>
  <nav class="relative">
    <ul class="flex z-1">
      {navigationItems.map((item) => <li>
        <a
          class:list={[
            baseClass,
            item.isActive ? activeClass : inactiveClass,
          ]}
          href={item.href}
        >
          {item.label}
        </a>
      </li>)}
    </ul>
    <div class={cursorClass} transition:name="current-nav"></div>
  </nav>
</header>
