---
import ogpParser from "ogp-parser";

const { href } = Astro.props;

const url = new URL(href as string);
const data = await ogpParser(url.href, { skipOembed: true });
const domain = url.hostname;
const favicon = `http://www.google.com/s2/favicons?sz=32&domain=https://${domain}`;
---

<div
  class="my-10 border rounded-xl overflow-hidden shadow-md hover:shadow-sm transition hover:opacity-80"
>
  <div class="flex content-center flex-col-reverse lg:flex-row">
    <div class="p-5 overflow-hidden flex-1 flex flex-col">
      <div class="mb-2 flex-1">
        <p class="font-bold">{data.title}</p>
        {
          data.seo.description && (
            <p class="text-sm truncate">{data.seo.description}</p>
          )
        }
      </div>
      <div class="flex items-center">
        <div class="mr-1">
          <img
            src={favicon}
            width={12}
            height={12}
            alt={`${domain}のファビコン`}
            decoding="async"
          />
        </div>
        <p>{domain}</p>
      </div>
    </div>
    {
      data.ogp["og:image"] && (
        <div class="relative w-full lg:max-w-sm aspect-ogImage bg-slate-50">
          <img
            src={data.ogp["og:image"][0]}
            class="object-fit"
            width={793}
            height={500}
            alt={data.title}
            decoding="async"
          />
        </div>
      )
    }
  </div>
</div>
