---
import type { CollectionEntry } from "astro:content";
import { ElapsedTime } from "./preact/ElapsedTime";

type Props = CollectionEntry<"blog">;
const {
  slug,
  data: { title, description, pubDate, tags, emoji },
} = Astro.props;
---


  <article
    transition:name={`article-${slug}`}
    class="flex flex-col w-full h-full p-5 shadow-xl bg-white transition hover:shadow-md hover:opacity-80 rounded-lg"
  >
    <a href={`/blog/${slug}`} class="w-full mb-5 p-5 text-6xl bg-gray-100 text-center rounded-md" aria-label={title}>
      <span transition:name={`emoji-${slug}`}>{emoji}</span>
    </a>
    <div class="mb-2 flex space-x-2">
      {tags &&
        tags.map((tag) => (
          <a href={`/blog/tags/${tag}`} class="text-xs text-gray-600 m-0 hover:underline">
            #{tag}
          </a>
        ))}
    </div>
    <a href={`/blog/${slug}`} class="flex-1 mb-5">
      <p class="text-md mb-1" transition:name={`title-${slug}`}>{title}</p>
      <p class="text-sm text-gray-600">{description}</p>
    </a>
    <ElapsedTime client:only="preact" isoDate={pubDate} className="text-sm text-gray-600" />
  </article>
