---
import '@fontsource/noto-color-emoji/emoji.css';
import '@fontsource/m-plus-rounded-1c/400.css';
import '@fontsource/m-plus-rounded-1c/700.css';
import type { CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PostMainVisual from "@components/PostMainVisual.astro";
import Sidebar from "@components/Sidebar.astro";
import type { MarkdownHeading } from "astro";

type Props = CollectionEntry<"blog">["data"] & {
  headings: MarkdownHeading[];
  slug: string;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  emoji,
  tags,
  headings,
  slug,
} = Astro.props;
---

<html lang="ja">
  <BaseHead title={title} description={description} slug={slug} />

  <body class="bg-gray-50 container mx-auto px-5 font-sans">
    <Header />
    <PostMainVisual
      emoji={emoji}
      title={title}
      tags={tags}
      pubDate={pubDate}
      updatedDate={updatedDate}
      slug={slug}
    />
    <div class="lg:flex lg:space-x-5 mb-20">
      <main
        class="lg:w-3/4 mb-10 xl:mb-0 p-10 xl:p-10 shadow-md rounded-md bg-white"
      >
        <article>
          <slot />
        </article>
      </main>
      <Sidebar headings={headings} />
    </div>
    <Footer />
  </body>
</html>
